%h1 Credits and Resources
%h3 I am thankful to all the following people:
%ul
  %li
    %h3 Andrew McElroy and David Miani
    15 minute
    %a{:href => "http://tryruby.org/"} "Try it" 
    Ruby tutorial for newbies like me.
  %li
    %h3 Andrew McElroy, David Miani and others 
    Documenting vast    
    %a{:href => "http://ruby-doc.org/core/"} Ruby API.
  %li
    %h3 Blake Mizerany and Other community members
    Hats off!!! for     
    %a{:href => "http://sinatra-book.gittr.com/"} Sinatra book.
  %li
    %h3 Max Aller (nanodeath)
    For informative and apt     
    %a{:href => "http://blog.maxaller.name/2010/01/a-brief-introduction-to-ruby-sinatra-and-haml/"} Introduction to Ruby, Sinatra and HAML.
  %li 
    %h3  Hampton Catlin, Nathan Weizenbaum (nex3), Chris Eppstein, 
    For      
    %a{:href => "http://haml-lang.com/docs/yardoc/file.HAML_REFERENCE.html"} HAML reference 
    and
    %a{:href => "http://haml-lang.com/try.html"} #haml.try page
  %li
    %h3 Adam Wiggins(adamwiggins) and Blake Mizerany
    For a cool      
    %a{:href => "http://rubyconf2008.confreaks.com/lightweight-web-services.html"} Lightweight-web-services (Rubyconf 2008)
    presentation.
  %li
    %h3 Dwight Merriman, Mike Dirolf, Kristina Chodorow, Kyle Banker and Others
    For quick 
    %a{:href => "http://www.mongodb.org/display/DOCS/Tutorial"} MongoDB tutorial
    and
    %a{:href => "http://www.mongodb.org/display/DOCS/Manual"} MongoDB Manual.    
  %li
    %h3 Kyle Banker (banker)
    for Creating and Documenting 
    %a{:href => "https://github.com/mongodb/mongo-ruby-driver"} mongo-ruby-driver.
  %li
    %h3 Dr Ralph Sutherland
    For creating huge and well-formated  
    %a{:href => "http://www.mso.anu.edu.au/~ralph/OPTED/"} Online Plain Text English Dictionary.
  %li
    %h3 Dr Ralph Sutherland
    For creating huge and well-formated  
    %a{:href => "http://www.mso.anu.edu.au/~ralph/OPTED/"} Online Plain Text English Dictionary.
  %li
    %h3  
      %a{:href => "http://github.com/"} GitHub: Social coding.


 

