%form{:action=> "/search", :method => "get"}
  %p
    %input{:type => "textbox", :name => "word", :id => "word"}    
    %input{:type => "submit", :value => "Search"}
   
- unless @word.empty?
  %h2== Word: #{@word}
  
  - if @meanings.empty?
    %p Entry not found
  - else
    %p Meanings:
    %ol
      - @meanings.each do |meaning|
        %li== (#{meaning[:category]}) #{meaning[:meaning]}

%hr/
%p#credits
  %a{:href => "/credits"}Credits


