%form{:action=> "/search", :method => "get"}
  %p
    %input{:type => "textbox", :name => "word", :id => "word"}    
    %input{:type => "submit", :value => "Search"}
   
- unless @word.empty?
  %h2== Word: #{@word}

  %p Meanings:
  %ol
    - @meanings.each do |meaning|
      %li= meaning[:meaning]

%hr/
%p#credits
  %a{:href => "/credits"}Credits


