%form{:action=> "/search", :method => "get"}
  %p
    %input{:type => "textbox", :name => "word", :id => "word"}
    %input{:type => "submit", :value => "Search"}
    
%hr/
%p#credits
  %a{:href => "/credits"}Credits
