%pre
  You must format all you entries in following format:

  Word       - should be enclosed in <b> </b> HTML tag                                                   
  Category   - part of speech or type will be enclosed in (<i> </i>)                                   
  Meaning    - It follows character ')' after category                                                 
  And this whole entry will be enclosed in <p></p> HTML tag. 
                                          
  e.g. <P><B>Named</B> (<I>imp. & p. p.</I>) of Name</P> 

  I used Online Plain Text English Dictionary (http://www.mso.anu.edu.au/~ralph/OPTED/) to write this app.
  

%form{:method =>"post",:enctype =>"multipart/form-data"}
  %input{:type =>"file",:name =>"file"}
  %input{:type =>"submit",:value =>"Upload"}

%form{:action => "/load", :method => "post"}
  %p
    %input{:type => "submit", :value => "Define: "}
    %input{:type => "textbox", :name => "link", :id => "link"}    
