%pre
  You must format all you entries in following format:

  <b>Word</b>       - should be enclosed in <b>&lt;b&gt;&lt;/b&gt;</b> HTML tag                                                   
  <b>Category</b>   - part of speech or type will be enclosed in <b>(&lt;i&gt; &lt;/i&gt;)</b>                                   
  <b>Meaning</b>    - It follows character ')' after category                                                 
  And this <b>whole entry</b> will be enclosed in <b>&lt;p&gt;&lt;/p&gt;</b> HTML tag. 
                                          
  <b>e.g. &lt;P&gt;&lt;B&gt;Hello&lt;/B&gt; (&lt;I&gt;interj. n.&lt;/I&gt;) Used to greet someone&lt;/P&gt;</b>

  I used Online Plain Text English Dictionary (<a href=http://www.mso.anu.edu.au/~ralph/OPTED/>http://www.mso.anu.edu.au/~ralph/OPTED/</a>) to write this app.
%div#uploadouter
  Upload from URL: 
  %form{:action => "/load", :method => "post"}
    %p
      %input{:type => "textbox", :name => "link", :id => "link"}
      %input{:type => "submit", :value => "Load from URL"}

  %hr/
  Saved file from Disk
  %form{:method =>"post",:enctype =>"multipart/form-data"}
    %input{:type =>"file",:name =>"file"}
    %input{:type =>"submit",:value =>"Upload"}

